@charset "UTF-8";
@import '../../../../../css/bourbon/_bourbon.scss';
@import '../../../../../scss/base/_variables.scss';
@import '../../../../../scss/base/_mixins.scss';


body{
	width:100%;
	height:100%;
	/*font-family: Helvetica;*/
	font-family: arial;


}
.absPos{
	position:absolute;
}
#pageWrapper{
	width:100%;
	height:100%;
	min-width:1024px;

}
img{
	width:100%;
	height:auto;
}

input, select{
	cursor: pointer;
	height: 50px;
	width: 300px;
	border-radius: 2px;
	padding: 10px;
	font-size: 115%;
	background-color: #ffffff;
	position: relative;
	border: 1px solid $textColor;
	color:$textColor

}

.start, .activeBtn{
	background-color: $startColor;
	border: 1px solid $startColor;
	color:#ffffff;

}
.start:hover {
	background-color: #11152b;

}
select{
	height:50px;
}
.right-side{
	float:right;
}
.valid{
	width: 50px;
	position: absolute;
	height: 50px;
	border: 1px solid;
	bottom:0px;
	right: 0;
	border-radius: 2px;

}
.correct{
	border-color: blue;
	background: url("#{$img_path}valid_correct.png") no-repeat 0 0;
	background-size: 50px;
}
.wrong{
	border-color: #edb2b2;
	background-image: url("#{$img_path}valid_wrong.png"), url("#{$img_path}valid_wrong_fon.png");
	background-size: 50px;
}

.hidden {
	display: none;
	opacity: 0;

}
