@charset "UTF-8";
@-webkit-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.frame1 .header {
  width: 100%;
  height: 9%;
  top: 0;
  left: 0; }
.frame1 .logo {
  background: url(/img/user/logo.png) no-repeat 0 0;
  background-size: 100%;
  height: 80%;
  top: 10%;
  width: 18%;
  left: 1%;
  position: absolute; }
.frame1 .banner {
  background: url(/img/user/main_banner.jpg) no-repeat 0 0;
  background-size: 100%;
  /* Современные браузеры */
  height: 91%;
  width: 100%;
  top: 9%;
  left: 0;
  overflow: hidden; }
.frame1 .corner {
  height: 33%;
  width: 19%;
  bottom: 0;
  right: 0; }
.frame1 .corner img {
  margin-bottom: -1px; }
.frame1 .banText {
  width: 30%;
  left: 55%;
  top: 40%;
  color: #8a8a8a; }
.frame1 .banTitle {
  margin-bottom: 4%;
  font-size: 140%;
  line-height: 120%; }
.frame1 .banDesc {
  line-height: 120%;
  font-size: 102%; }
.frame1 .start {
  margin-top: 7%;
  width: 40%;
  color: #ffffff;
  font-size: 120%;
  height: 50px; }
.frame1 .start:disabled {
  background: #8a8a8a;
  border-color: #8a8a8a; }
  .frame1 .start:disabled:hover {
    background: #8a8a8a;
    cursor: default; }

.frame2 {
  width: 100%;
  height: 85%;
  top: 5%;
  text-align: center; }
  .frame2 .logo {
    width: 50%;
    margin-left: 25%; }
  .frame2 .text-center {
    margin-top: 4%;
    font-size: 115%;
    color: #8a8a8a; }
  .frame2 .socNetWrapper {
    width: 64%;
    height: 9%;
    margin: 2% 0 0 18%; }
    .frame2 .socNetWrapper .socNets {
      color: #ffffff;
      cursor: pointer;
      width: auto;
      height: 100%;
      float: left;
      margin: 0 6%;
      border-radius: 1px; }
      .frame2 .socNetWrapper .socNets .icons {
        float: left;
        height: 100%;
        width: 50px;
        text-align: center; }
        .frame2 .socNetWrapper .socNets .icons img {
          width: 76%;
          margin-top: 10%; }
        .frame2 .socNetWrapper .socNets .icons .fb_icon {
          margin-top: 10%; }
        .frame2 .socNetWrapper .socNets .icons .vk_icon {
          margin-top: 22%; }
        .frame2 .socNetWrapper .socNets .icons .od_icon {
          margin-top: 10%;
          margin-left: 13%;
          width: 90%; }
      .frame2 .socNetWrapper .socNets .socNames {
        float: left;
        margin-top: 20px;
        margin-left: 24px;
        font-size: 108%;
        margin-right: 24px; }
  .frame2 .footer {
    background: url(/img/user/email_block_fon.png) repeat;
    width: 100%;
    height: 35%;
    bottom: 0;
    text-align: center; }
    .frame2 .footer img {
      height: 100%;
      width: auto;
      right: 25%; }
    .frame2 .footer .text-center {
      font-size: 110%;
      margin-bottom: 2%;
      color: #4b4b4b; }
    .frame2 .footer .textInput {
      border: none;
      background-color: #ffffff;
      position: relative;
      margin-right: 0; }
    .frame2 .footer .start {
      margin-left: -6px;
      width: 140px;
      color: #ffffff;
      z-index: 3;
      height: 50px;
      font-size: 105%;
      border-radius: 3px;
      margin-top: 1px; }
  .frame2 .fb .icons {
    background: url(/img/user/fb_icon_fon.png) repeat; }
  .frame2 .vk .icons {
    background: url(/img/user/vk_icon_fon.png) repeat; }
  .frame2 .od .icons {
    background: url(/img/user/od_icon_fon.png) repeat; }
  .frame2 .fb {
    background: url(/img/user/fb_button_fon.png) repeat; }
  .frame2 .vk {
    background: url(/img/user/vk_button_fon.png) repeat; }
  .frame2 .od {
    background: url(/img/user/od_button_fon.png) repeat; }

.frame3 {
  background-image: url("/img/user/screen3_left_logo.png"), url("/img/user/screen3_right_logo.png");
  background-size: 24%, 24%;
  /* Современные браузеры */
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
  width: 100%; }
  .frame3 textarea {
    font-size: 110%;
    color: #8a8a8a; }
  .frame3 .content {
    position: relative;
    padding-top: 50px;
    width: 50%;
    left: 25%;
    min-height: 666px; }
    .frame3 .content .personalDataConfirm {
      margin: 4% 0;
      color: #8a8a8a; }
      .frame3 .content .personalDataConfirm input {
        padding: 0;
        width: auto;
        height: auto; }
    .frame3 .content .left-side {
      float: left;
      font-size: 110%;
      margin-top: 8px;
      color: #8a8a8a; }
    .frame3 .content .right-side {
      width: 25%;
      margin-right: 70px;
      margin-bottom: 25px; }
    .frame3 .content .question {
      margin-top: 17px;
      position: relative;
      clear: both; }
      .frame3 .content .question input {
        width: 87%;
        margin-right: -24px; }
      .frame3 .content .question .symb {
        width: 50px;
        cursor: pointer;
        position: absolute;
        height: 50px;
        border: 1px solid #4b4b4b;
        border-left: none;
        bottom: 0px;
        right: 10%;
        border-right: none;
        text-align: center;
        background: url("/img/user/input_right_fon.png") repeat 0 0; }
        .frame3 .content .question .symb span {
          position: relative;
          top: 14px;
          font-size: 120%;
          color: #ffffff; }
      .frame3 .content .question .quesBtn {
        width: 43%;
        margin-right: 3.5%;
        height: 50px; }
      .frame3 .content .question .day {
        width: 110px;
        margin-right: 25px; }
      .frame3 .content .question .month {
        width: 200px;
        margin-right: 25px; }
      .frame3 .content .question .year {
        width: 160px; }
    .frame3 .content .select .symb {
      border: none;
      width: 51px;
      height: 52px;
      border-radius: 2px; }
    .frame3 .content .quesLabel {
      margin-top: 21px;
      margin-bottom: 20px; }
    .frame3 .content .comment {
      margin-top: 10px;
      text-align: right;
      width: 42%;
      font-size: 80%;
      color: #8a8a8a; }
    .frame3 .content .specializ {
      width: 91%; }
    .frame3 .content .toQues {
      margin: 20px 0 100px;
      width: 91%;
      height: 50px;
      background-image: url("/img/user/valid_correct.png");
      background-repeat: no-repeat;
      background-position-x: 35%;
      background-position-y: 70%;
      padding-left: 75px; }

.frame4 {
  background-image: url("/img/user/screen3_left_logo.png"), url("/img/user/screen3_right_logo.png"), url("/img/user/email_block_fon.png");
  background-size: 24%, 24%;
  /* Современные браузеры */
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat, repeat; }
  .frame4 textarea {
    font-size: 110%;
    color: #8a8a8a; }
  .frame4 .content {
    position: relative;
    padding-top: 70px;
    width: 50%;
    left: 25%;
    min-height: 666px; }
    .frame4 .content .quesLabel {
      clear: both;
      margin-top: 25px;
      margin-bottom: 10px; }
    .frame4 .content .toQues {
      margin: 10px 0;
      background-image: none;
      width: 91%;
      height: 50px; }
    .frame4 .content .left-side {
      float: left;
      font-size: 110%;
      margin-top: 8px;
      color: #8a8a8a; }
    .frame4 .content .right-side {
      width: 25%;
      margin-right: 70px;
      margin-bottom: 25px; }
    .frame4 .content .question {
      margin-top: 20px;
      margin-bottom: 17px;
      position: relative;
      clear: both; }
      .frame4 .content .question textarea {
        width: 89.5%;
        height: 150px; }
    .frame4 .content .quesBtn {
      width: 91%;
      margin-right: 3.5%;
      height: 50px;
      background: url("/img/user/email_block_fon.png") repeat;
      border: 1px solid #8a8a8a;
      color: #8a8a8a; }
      .frame4 .content .quesBtn:hover {
        background: #222c6a;
        border: 1px solid #222c6a;
        color: #ffffff; }
    .frame4 .content .halfBtn {
      width: 43%; }
    .frame4 .content .activeBtn {
      background: #222c6a;
      border: 1px solid #222c6a;
      color: #ffffff; }
    .frame4 .content .ready {
      margin: 20px 0 100px;
      width: 91%;
      height: 50px;
      background-image: url("/img/user/valid_correct.png");
      background-repeat: no-repeat;
      background-position-x: 45%;
      background-position-y: 70%;
      padding-left: 75px; }

.frame5 {
  height: 100%;
  width: 100%;
  background: #ffffff; }
  .frame5 .banner {
    background-image: url("/img/user/footer_picture.png"), url("/img/user/screen5_right_logo.png");
    background-repeat: repeat, no-repeat;
    background-position: 0 0, right bottom;
    background-size: 100%, 24%;
    height: 118%;
    width: 100%;
    top: -18%;
    left: 0;
    overflow: hidden; }
  .frame5 .logo {
    background: url("/img/user/main_logo.png") no-repeat 0 0;
    background-size: 100%;
    height: 80%;
    top: 25%;
    width: 50%;
    left: 42%;
    z-index: 2;
    position: absolute; }
  .frame5 .banText {
    width: 30%;
    top: 45%;
    color: #242e68;
    text-align: right;
    right: 9%; }
  .frame5 .banTitle {
    margin-bottom: 4%;
    font-size: 120%;
    line-height: 120%; }
  .frame5 .banDesc {
    line-height: 120%;
    font-size: 90%; }

.childQuestion {
  display: none; }

.matchCitiesWrap, .matchNetworksWrap {
  clear: both;
  position: relative; }
  .matchCitiesWrap .matchCities, .matchCitiesWrap .matchNetworks, .matchNetworksWrap .matchCities, .matchNetworksWrap .matchNetworks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    z-index: 999;
    max-height: 400px; }
    .matchCitiesWrap .matchCities .cityMatchItem, .matchCitiesWrap .matchCities .networkMatchItem, .matchCitiesWrap .matchNetworks .cityMatchItem, .matchCitiesWrap .matchNetworks .networkMatchItem, .matchNetworksWrap .matchCities .cityMatchItem, .matchNetworksWrap .matchCities .networkMatchItem, .matchNetworksWrap .matchNetworks .cityMatchItem, .matchNetworksWrap .matchNetworks .networkMatchItem {
      padding: 1%;
      color: #8a8a8a;
      border: 2px solid #ffffff; }
      .matchCitiesWrap .matchCities .cityMatchItem:hover, .matchCitiesWrap .matchCities .networkMatchItem:hover, .matchCitiesWrap .matchNetworks .cityMatchItem:hover, .matchCitiesWrap .matchNetworks .networkMatchItem:hover, .matchNetworksWrap .matchCities .cityMatchItem:hover, .matchNetworksWrap .matchCities .networkMatchItem:hover, .matchNetworksWrap .matchNetworks .cityMatchItem:hover, .matchNetworksWrap .matchNetworks .networkMatchItem:hover {
        border: 2px solid #8a8a8a;
        cursor: pointer; }

.questionWrap {
  display: none; }

.validationFailure {
  background: #edb2b2; }

/*# sourceMappingURL=simplePage.css.map */
