@charset "UTF-8";
@import '../../../../../css/bourbon/_bourbon.scss';
@import '../../../../../scss/base/_variables.scss';
@import '../../../../../scss/base/_mixins.scss';
@import '../../../../../scss/base/_placeholders.scss';
@import '../../../../../scss/modules/_animations.scss';

.frame1{

	.header{
		width:100%;
		height: 9%;
		top:0;
		left: 0;

	}
	.logo{
		background: url(#{$img_path}logo.png) no-repeat 0 0;
		background-size: 100%;
		height: 80%;
		top: 10%;
		width: 18%;

		left: 1%;
		position: absolute;
	}
	.banner{
		background: url(#{$img_path}main_banner.jpg) no-repeat 0 0;
		background-size: 100%; /* Современные браузеры */
		height:91%;
		width:100%;
		top: 9%;
		left:0;
		overflow: hidden;

	}
	.corner{
		height: 33%;
		width: 19%;
		bottom: 0;
		right: 0;
	}

	.corner img{
		margin-bottom: -1px;
	}
	.banText{
		width: 30%;
		left: 55%;
		top: 40%;
		color: $textColor;
	}
	.banTitle{
		margin-bottom: 4%;
		font-size: 140%;
		line-height: 120%;
	}
	.banDesc{
		line-height: 120%;
		font-size: 102%;
	}
	.start{
		margin-top: 7%;
		width: 40%;
		color: #ffffff;
		font-size: 120%;
		height:50px;
	}
	.start:disabled {
		background: #8a8a8a;
		border-color: #8a8a8a;

		&:hover {
			background: #8a8a8a;
			cursor: default;
		}
	}
}


.frame2{
	width: 100%;
	height: 85%;
	top: 5%;
	text-align: center;
	.logo{
		width:50%;
		margin-left: 25%;
	}
	.logo img{

	}
	.text-center{
		margin-top: 4%;
		font-size: 115%;
		color: $textColor;
	}
	.socNetWrapper{
		width: 64%;
		height: 9%;
		margin:2% 0 0 18%;


		.socNets{
			color: #ffffff;
			cursor: pointer;
			width: auto;
			height: 100%;
			float: left;
			margin: 0 6%;
			border-radius:1px;
			.icons{
				float:left;
				height:100%;
				width:50px;
				text-align: center;

				img{
					width: 76%;
					margin-top: 10%;
				}
				.fb_icon{
					margin-top:10%;
				}
				.vk_icon{
					margin-top:22%;
				}
				.od_icon{
					margin-top: 10%;
					margin-left: 13%;
					width: 90%;
				}

			}
			.socNames{
				float: left;
				margin-top: 20px;
				margin-left: 24px;
				font-size: 108%;
				margin-right: 24px;
			}
		}

	}
	.footer{
		background: url(#{$img_path}email_block_fon.png) repeat;
		width: 100%;
		height:35%;
		bottom:0;
		text-align:center;
		img{
			height:100%;
			width:auto;
			right:25%;

		}
		.text-center{
			font-size: 110%;
			margin-bottom: 2%;
			color:$maintextColor;
		}
		.textInput{
			border: none;
			background-color: #ffffff;
			position: relative;
			margin-right: 0;
		}
		.start{
			margin-left: -6px;
			width: 140px;
			color: #ffffff;
			z-index: 3;
			height: 50px;
			font-size: 105%;
			border-radius: 3px;
			margin-top: 1px;

		}
	}

	.fb .icons{background: url(#{$img_path}fb_icon_fon.png) repeat;}
	.vk .icons{background: url(#{$img_path}vk_icon_fon.png) repeat;}
	.od .icons{background: url(#{$img_path}od_icon_fon.png) repeat;}
	.fb {background: url(#{$img_path}fb_button_fon.png) repeat;}
	.vk {background: url(#{$img_path}vk_button_fon.png) repeat;}
	.od {background: url(#{$img_path}od_button_fon.png) repeat;}

}


.frame3{
	textarea {
		font-size: 110%;
		color: $textColor;

	}


	background-image: url("#{$img_path}screen3_left_logo.png"),  url("#{$img_path}screen3_right_logo.png");
	background-size: 24%, 24%; /* Современные браузеры */
	background-position: left top, right bottom;
	background-repeat: no-repeat, no-repeat;
	width: 100%;

	.content{
		position: relative;
		padding-top: 50px;
		width: 50%;
		left: 25%;
		min-height: 666px;

		.personalDataConfirm {
			margin: 4% 0;
			color: $textColor;

			input {
				padding: 0;
				width: auto;
				height: auto;
			}
		}

		.left-side{
			float:left;
			font-size: 110%;
			margin-top: 8px;
			color: $textColor;

		}
		.right-side{
			width: 25%;
			margin-right: 70px;
			margin-bottom: 25px;
		}
		.question{
			margin-top: 17px;
			position:relative;
			clear:both;
			input{
				width: 87%;
				margin-right: -24px;
			}
			.symb{
				width: 50px;
				cursor: pointer;
				position: absolute;
				height: 50px;
				border: 1px solid #4b4b4b;
				border-left: none;
				bottom:0px;
				right: 10%;
				border-right: none;
				text-align: center;
				background: url("#{$img_path}input_right_fon.png") repeat 0 0;
				span{
					position: relative;
					top: 14px;
					font-size: 120%;
					color: #ffffff;
				}
			}
			.quesBtn{
				width: 43%;
				margin-right: 3.5%;
				height: 50px;

			}
			.activeBtn{

			}

			.day{
				width: 110px;
				margin-right: 25px;
			}
			.month{
				width: 200px;
				margin-right: 25px;
			}
			.year{
				width:160px;
			}

		}
		.select .symb{
			border: none;
			width: 51px;
			height: 52px;
			border-radius: 2px

		}
		.quesLabel{
			margin-top: 21px;
			margin-bottom: 20px;
		}
		.comment{
			margin-top: 10px;
			text-align: right;
			width:42%;
			font-size: 80%;
			color: $textColor;
		}
		.specializ{
			width:91%;
		}
		.toQues{
			margin: 20px 0 100px;
			width: 91%;
			height: 50px;
			background-image: url("#{$img_path}valid_correct.png");
			background-repeat: no-repeat;
			background-position-x: 35%;
			background-position-y: 70%;
			padding-left: 75px;

		}
	}

}

.frame4{

	textarea {
		font-size: 110%;
		color: $textColor;
	}
	background-image: url("#{$img_path}screen3_left_logo.png"),  url("#{$img_path}screen3_right_logo.png"), url("#{$img_path}email_block_fon.png");
	background-size: 24%, 24%; /* Современные браузеры */
	background-position: left top, right bottom;
	background-repeat: no-repeat, no-repeat, repeat;
	.content{
		position: relative;
		padding-top: 70px;
		width: 50%;
		left: 25%;
		min-height: 666px;
		.quesLabel{
			clear: both;
			margin-top: 25px;
			margin-bottom: 10px;
		}
		.toQues{
			margin:10px 0;
			background-image: none;

			width: 91%;
			height: 50px;

		}

		.left-side{
			float:left;
			font-size: 110%;
			margin-top: 8px;
			color: $textColor;

		}
		.right-side{
			width: 25%;
			margin-right: 70px;
			margin-bottom: 25px;
		}
		.question{
			margin-top: 20px;
			margin-bottom: 17px;
			position:relative;
			clear:both;
			textarea{
				width:89.5%;
				height:150px;
			}

		}
		.quesBtn{
			width: 91%;
			margin-right: 3.5%;
			height: 50px;
			background: url("#{$img_path}email_block_fon.png") repeat;

			border: 1px solid $textColor;
			color:$textColor;

			&:hover {
				background: $startColor;
				border: 1px solid $startColor;
				color:#ffffff;
			}
		}
		.halfBtn{
			width:43%;
		}
		.activeBtn{
			background: $startColor;
			border: 1px solid $startColor;
			color:#ffffff;

		}
		.ready{
			margin: 20px 0 100px;
			width: 91%;
			height: 50px;
			background-image: url("#{$img_path}valid_correct.png");
			background-repeat: no-repeat;
			background-position-x: 45%;
			background-position-y: 70%;
			padding-left: 75px;
		}
	}



}


.frame5{
	height:100%;
	width:100%;
	background: #ffffff;

	.banner{
		background-image: url("#{$img_path}footer_picture.png"), url("#{$img_path}screen5_right_logo.png");
		background-repeat: repeat, no-repeat;
		background-position:0 0, right bottom;
		background-size: 100%, 24%;
		height: 118%;
		width: 100%;
		top: -18%;
		left: 0;
		overflow: hidden;
	}
	.logo{
		background: url("#{$img_path}main_logo.png") no-repeat 0 0;
		background-size: 100%;
		height: 80%;
		top: 25%;
		width: 50%;
		left: 42%;
		z-index: 2;
		position: absolute;
	}


	.banText{
		width: 30%;

		top: 45%;
		color: #242e68;
		text-align: right;
		right:9%;
	}
	.banTitle{
		margin-bottom: 4%;
		font-size: 120%;
		line-height: 120%;

	}
	.banDesc{
		line-height: 120%;
		font-size: 90%;
	}
}

.childQuestion {
	display: none;
}

.matchCitiesWrap, .matchNetworksWrap {

	clear: both;
	position: relative;

	.matchCities, .matchNetworks {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: #ffffff;
		z-index: 999;
		max-height: 400px;


		.cityMatchItem, .networkMatchItem {
			padding: 1%;
			color: $textColor;
			border: 2px solid #ffffff;

			&:hover {
				border: 2px solid $textColor;
				cursor: pointer;
			}
		}
	}
}

.questionWrap {
	display: none;
}

.validationFailure {
	background: #edb2b2;
}